---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/HOJSKOLENDK-1024-x-879px 1.webp";
import pil from "../assets/images/pilmenu.svg";
---

<header x-data="{ showmenu: false }" class="">
  <div id="navbar" class="container mx-auto p-4 flex flex-row justify-between items-center">
    <div id="logo" class="">
      <a href="/" class="">
        <Image class="w-15 md:w-20 lg:w-25 h-auto" src={logo} alt="HøjskolenDK Logo" />
      </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-8 items-center">
        <li class="font-heading text-lg uppercase"><a href="/hojskoleophold/" class={`inline-flex items-center gap-2 hover:underline ${currentPath === "hojskoleophold/" ? "underline" : ""}`}>højskoleophold <Image class="ml-1" src={pil} alt="Pil der peger nedad" /></a></li>
        <li class="font-heading text-lg uppercase hover:underline"><a href="/sommerhoejskole/" class={`inline-flex items-center gap-2 hover:underline ${currentPath === "sommerhoejskole/" ? "underline" : ""}`}>sommerhøjskole <Image class="ml-1" src={pil} alt="Pil der peger nedad" /></a></li>
        <li class="font-heading text-lg uppercase hover:underline"><a href="/priser/" class={currentPath === "priser/" ? "underline" : ""}>priser</a></li>
        <li class="font-heading text-lg uppercase hover:underline"><a href="/komponentbibliotek/" class={`inline-flex items-center gap-2 hover:underline ${currentPath === "komponentbibliotek/" ? "underline" : ""}`}>om os<Image class="ml-1" src={pil} alt="Pil der peger nedad" /></a></li>
        <div class="flex gap-4">
          <Button variant="primary" size="small">Infomøder</Button>
          <Button variant="accent" size="small">Tilmeld</Button>
        </div>
      </ul>
    </nav>

    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
      ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="border-t-2 border-b-2 border-tertiary-900">
      <li class="pl-10 py-3 font-heading text-lg uppercase"><a href="/hojskoleophold/" class={`inline-flex items-center gap-2 hover:underline ${currentPath === "hojskoleophold/" ? "underline" : ""}`}>højskoleophold <Image class="ml-1" src={pil} alt="Pil der peger nedad" /></a></li>
      <li class="pl-10 py-3 font-heading text-lg uppercase hover:underline"><a href="/sommerhoejskole/" class={`inline-flex items-center gap-2 hover:underline ${currentPath === "sommerhoejskole/" ? "underline" : ""}`}>sommerhøjskole <Image class="ml-1" src={pil} alt="Pil der peger nedad" /></a></li>
      <li class="pl-10 py-3 font-heading text-lg uppercase hover:underline"><a href="/priser/" class={currentPath === "priser/" ? "underline" : ""}>priser</a></li>
      <li class="pl-10 py-3 font-heading text-lg uppercase hover:underline"><a href="/komponentbibliotek/" class={`inline-flex items-center gap-2 hover:underline ${currentPath === "komponentbibliotek/" ? "underline" : ""}`}>om os<Image class="ml-1" src={pil} alt="Pil der peger nedad" /></a></li>
      <div class="pl-10 py-4 flex gap-4">
        <Button variant="primary" size="small">Infomøder</Button>
        <Button variant="accent" size="small">Tilmeld</Button>
      </div>
    </ul>
  </nav>
</header>
